body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.main {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
}

.displayContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    word-break: break-all;
    background-color: gray;
    width: 5vw;
    height: 100%;
}

.mainDisplay {
    margin-top: auto;
    margin-bottom: auto;
}

.mainButtonsContainer {
    display: grid;
    width: auto;
    height: auto;

    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
}

.button {
    
}

